#file: noinspection SpellCheckingInspection, KubernetesUnknownResourcesInspection
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: pristo24631@gmail.com
    privateKeySecretRef:
      name: letsencrypt
    solvers:
      - http01:
          ingress:
            class: traefik

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: 0982-store-tls
spec:
  secretName: 0982-store-secret
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
  commonName: 0982.store
  dnsNames:
    - 0982.store

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: https-redirect
spec:
  redirectScheme:
    scheme: https
    permanent: true

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: 0982-store-ingress
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: default-https-redirect@kubernetescrd
spec:
  rules:
    - host: 0982.store
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: gateway-service
                port:
                  number: 8000
  tls:
    - hosts:
        - 0982.store
      secretName: 0982-store-secret

# DDD
