#file: noinspection HttpUrlsUsage, SpringBootApplicationYaml
eureka:
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://admin:admin@${eureka.instance.hostname:localhost}:8761/eureka
    instance:
      prefer-ip-address: true
      instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
      health-check-url-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c  # 또는 b3

gateway:
  host: http://localhost:8000

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:http://localhost:9092}
