#file: noinspection HttpUrlsUsage, SpringBootApplicationYaml
eureka:
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://admin:admin@discovery-service:8761/eureka
    instance:
      prefer-ip-address: true
      instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
      health-check-url-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c

test:
  field: test233

gateway:
  host: http://gateway-service:8000

kafka:
  bootstrap-servers: http://kafka-service:9092
