#file: noinspection HttpUrlsUsage, SpringBootApplicationYaml
eureka:
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://admin:admin@${eureka.instance.hostname:localhost}:8761/eureka
    instance:
      prefer-ip-address: true
      instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
      health-check-url-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

spring:
  mvc:
    favicon:
      enabled: false

gateway:
  host: http://localhost:8000
