**/.idea
**/.vscode
**/*.iml
**/.claude
**/.gradle
**/build
**/.DS_Store
**/bin

# Docker 관련
docker/postgres/init/*.sql
docker/postgres/init/*.log

# 환경 변수
.env
**/env.*
**/.env*

# 로그 파일
*.log
logs/

.gemini/
gha-creds-*.json
