#file: noinspection SpellCheckingInspection
spring:
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}

client:
  member: ${CLIENT_MEMBER}

gateway:
  host: ${GATEWAY_HOST}
