#file: noinspection SpellCheckingInspection
spring:
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2

  kafka:
    bootstrap-servers: localhost:9092

client:
  member: http://localhost:8083
