#file: noinspection KubernetesUnknownValues
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  labels:
    app: database
spec:
  serviceName: "postgres-service"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      automountServiceAccountToken: false
      nodeSelector:
        kubernetes.io/hostname: ip-10-0-0-244
      terminationGracePeriodSeconds: 60
      containers:
        - name: postgres
          image: postgres:15-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          resources:
            requests:
              ephemeral-storage: "1Gi"
              memory: "512Mi"
              cpu: "250m"
            limits:
              ephemeral-storage: "2Gi"
              memory: "1Gi"
              cpu: "1000m"
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
          lifecycle:
            preStop:
              exec:
                command:
                  - sh
                  - -c
                  - "pg_ctl stop -D /var/lib/postgresql/data/postgres -m fast"
  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
