#file: noinspection KubernetesUnknownValues, SpellCheckingInspection
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      automountServiceAccountToken: false
      nodeSelector:
        kubernetes.io/hostname: ip-10-0-0-5
      containers:
        - name: gateway
          image: minbros/gateway:latest
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-service:9092"
            - name: REDIS_HOST
              value: "redis-service"
            - name: REDIS_PORT
              value: "6379"
            - name: MEMBER_SERVICE_URL
              value: http://member-service:8083
            - name: COMMERCE_SERVICE_URL
              value: http://commerce-service:8087
            - name: POINT_SERVICE_URL
              value: http://point-service:8086
            - name: SEARCH_SERVICE_URL
              value: http://search-service:8082
            - name: AI_SERVICE_URL
              value: http://ai-service:8088
          envFrom:
            - secretRef:
                name: gateway-secret
          resources:
            requests:
              cpu: "200m"
              memory: "384Mi"
              ephemeral-storage: "768Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8000
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 10
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
