#file: noinspection KubernetesUnknownValues, SpellCheckingInspection
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      automountServiceAccountToken: false
      containers:
        - name: gateway
          image: minbros/gateway:latest
          imagePullPolicy: Always
          # 테스트용
          env:
            - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
              value: "http://admin:admin@discovery-service:8761/eureka"
            - name: EUREKA_INSTANCE_HOSTNAME
              value: "discovery-service"
            - name: GATEWAY_HOST
              value: "http://gateway-service:8000"
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-service:9092"
          envFrom:
            - secretRef:
                name: gateway-secret
          resources:
            requests:
              cpu: "200m"
              memory: "384Mi"
              ephemeral-storage: "768Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http

# SDFSDF
