#file: noinspection KubernetesUnknownValues, SpellCheckingInspection
apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      automountServiceAccountToken: false
      nodeSelector:
        kubernetes.io/hostname: ip-10-0-0-244
      containers:
        - name: search
          image: minbros/search:latest
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-service:9092"
            - name: SPRING_ELASTICSEARCH_URIS
              value: http://elasticsearch-service:9200
            - name: KAFKA_LOG_SEGMENT_BYTES
              value: "67108864"  # 64MB (기본 1GB)
          envFrom:
            - secretRef:
                name: search-secret
          resources:
            requests:
              cpu: "200m"
              memory: "378Mi"
              ephemeral-storage: "768Mi"
            limits:
              cpu: "500m"
              memory: "768Mi"
              ephemeral-storage: "1Gi"
          ports:
            - containerPort: 8082
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: search-service
spec:
  type: ClusterIP
  selector:
    app: search
  ports:
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: http

# DD
