apiVersion: batch/v1
kind: Job
metadata:
  name: group-purchase-reindex-job
  labels:
    app: batch-service
    component: job
    job-type: reindex
spec:
  backoffLimit: 1
  activeDeadlineSeconds: 1800
  ttlSecondsAfterFinished: 86400
  template:
    metadata:
      labels:
        app: batch-service
        job-type: reindex
    spec:
      automountServiceAccountToken: false
      restartPolicy: Never
      containers:
      - name: batch-job
        image: minbros/batch:latest
        imagePullPolicy: Always
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: TZ
          value: "Asia/Seoul"
        - name: SPRING_BATCH_JOB_NAME
          value: "groupPurchaseReindex"
        - name: JOB_DESCRIPTION
          value: "공구 ES 인덱스 재생성 작업"
        - name: INDEX_ALIAS
          value: "group-purchase"
        - name: MODE
          value: "full"
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-service:9092"
        - name: ELASTICSEARCH_URIS
          value: "http://elasticsearch-service:9200"
        - name: CLIENT_MEMBER
          value: "http://member-service:8083"
        envFrom:
          - secretRef:
              name: batch-secret
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
            ephemeral-storage: "512Mi"
          limits:
            memory: "512Mi"
            cpu: "500m"
            ephemeral-storage: "1Gi"
