apiVersion: batch/v1
kind: CronJob
metadata:
  name: vector-refresh-cronjob
  labels:
    app: batch-service
    component: cronjob
    job-type: vector-refresh
spec:
  schedule: "13 3 * * *"
  timeZone: "Asia/Seoul"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 300
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 3600
      backoffLimit: 2
      activeDeadlineSeconds: 3600  # 60분 제한 (벡터라서 오래 걸림)
      template:
        metadata:
          labels:
            app: batch-service
            job-type: vector-refresh
        spec:
          restartPolicy: OnFailure
          containers:
            - name: batch-job
              image: minbros/batch:latest
              imagePullPolicy: Always
              env:
                - name: SPRING_PROFILES_ACTIVE
                  value: "prod"
                - name: TZ
                  value: "Asia/Seoul"
                - name: SPRING_BATCH_JOB_NAME
                  value: "vectorRefreshJob"
                - name: JOB_DESCRIPTION
                  value: "유저 벡터 재생성 작업"
                - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
                  value: "kafka-service:9092"
                - name: ELASTICSEARCH_URIS
                  value: "http://elasticsearch-service:9200"
                - name: CLIENT_MEMBER
                  value: "http://member-service:8083"
              envFrom:
                - secretRef:
                    name: batch-secret
              resources:
                requests:
                  memory: "256Mi"
                  cpu: "250m"
                  ephemeral-storage: "512Mi"
                limits:
                  memory: "512Mi"
                  cpu: "500m"
                  ephemeral-storage: "1Gi"
