spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/group_purchase?currentSchema=point_schema
    username: postgres
    password: postgres1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: point_schema
        format_sql: true
        show_sql: true
