#file: noinspection SpringBootApplicationYaml, SpellCheckingInspection, HttpUrlsUsage
spring:
  application:
    name: member

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${MEMBER_DATABASE_URL}
    username: ${MEMBER_POSTGRES_USERNAME}
    password: ${MEMBER_POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate   # none / validate / update / create / create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  mail:
    host: smtp.gmail.com
    port: 465
    username: ${MEMBER_SMTP_EMAIL}
    password: ${MEMBER_SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true

server:
  port: 8083

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://admin:admin@${eureka.instance.hostname:localhost}:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
    health-check-url-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c  # 또는 b3

gateway:
  host: ${GATEWAY_HOST:http://localhost:8000}

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

token:
  internal:
    secret: ${TOKEN_INTERNAL_SECRET:"abcd"}

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-period: ${JWT_ACCESS_TOKEN_VALIDITY_PERIOD}
  refresh-token-validity-period: ${JWT_REFRESH_TOKEN_VALIDITY_PERIOD}

logstash:
  host: ${LOGSTASH_HOST}
  port: ${LOGSTASH_PORT}
