<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- Kafka & Logstash 프로퍼티 -->
    <property name="SERVICE_NAME" value="member-service"/>
    <property name="KAFKA_BOOTSTRAP_SERVERS" value="localhost:29092"/>
    <property name="KAFKA_TOPIC" value="service-logs"/>

    <!-- ===== 콘솔 출력 ===== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] [%logger{36}] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ===== KafkaAppender + LogstashEncoder ===== -->
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <!-- 필수 Kafka 설정 -->
        <topic>${KAFKA_TOPIC}</topic>
        <keyEncoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%X{traceId:-no-trace}</pattern>
            </layout>
        </keyEncoder>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"${SERVICE_NAME}"}</customFields>
        </encoder>

        <!-- 카프카 프로듀서 설정 -->
        <producerConfig>bootstrap.servers=${KAFKA_BOOTSTRAP_SERVERS}</producerConfig>
        <producerConfig>acks=1</producerConfig>
        <producerConfig>linger.ms=50</producerConfig>
        <producerConfig>batch.size=32768</producerConfig>
        <producerConfig>max.in.flight.requests.per.connection=1</producerConfig>
        <producerConfig>compression.type=snappy</producerConfig>

        <!-- 에러 처리 -->
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="KAFKA"/>
    </root>

</configuration>
