#file: noinspection SpellCheckingInspection
spring:
  application:
    name: batch

  main:
    web-application-type: none

  flyway:
    enabled: true
    create-schemas: true
    default-schema: settlement_schema
    schemas: settlement_schema

  datasource:
    url: ${BATCH_SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${BATCH_SPRING_DATASOURCE_USERNAME}
    password: ${BATCH_SPRING_DATASOURCE_PASSWORD}
    hikari:
      connection-init-sql: SET search_path TO batch_schema, order_schema, product_schema

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    open-in-view: false

  batch:
    jdbc:
      initialize-schema: never

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  otlp:
    metrics:
      export:
        enabled: false

kafka:
  bootstrap-servers: ${spring.kafka.bootstrap-servers}

reindex:
  group-purchase:
    alias: group-purchase
    batch-size: 500
    switch-alias: true

logging:
  level:
    # Spring Batch 프레임워크의 중복 로그 최소화
    org.springframework.batch.core.launch.support.TaskExecutorJobLauncher: WARN
    org.springframework.batch.core.step.AbstractStep: WARN
    org.springframework.batch.core.job.SimpleStepHandler: WARN

    # 커스텀 배치 로그는 INFO 유지
    store._0982.batch: INFO
