#file: noinspection HttpUrlsUsage, SpringBootApplicationYaml, SpellCheckingInspection
spring:
  application:
    name: batch
  main:
    web-application-type: none

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

  datasource:
    url: ${ORDER_SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${ORDER_SPRING_DATASOURCE_USERNAME}
    password: ${ORDER_SPRING_DATASOURCE_PASSWORD}

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    open-in-view: false

  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: w3c  # 또는 b3

gateway:
  host: ${GATEWAY_HOST:http://localhost:8000}

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
